<!-- wp:template-part {"slug":"header","theme":"paperless"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:post-title {"textAlign":"center"} /-->

  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group">
    <!-- wp:post-author-name /-->

    <!-- wp:post-date /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:separator {"backgroundColor":"paperless-black","className":"is-style-wide"} -->
  <hr
    class="wp-block-separator has-text-color has-paperless-black-color has-alpha-channel-opacity has-paperless-black-background-color has-background is-style-wide"
  />
  <!-- /wp:separator -->

  <!-- wp:post-featured-image {"height":"400px"} /-->

  <!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"paperless"} /-->
